button {
	transition: all .5s ease;
	color: $color_1;
	border: 3px solid #4273a1d8;
	font-family: $font-family_1;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	font-size: 17px;
	background-color: $background-color_3;
	padding: 10px;
	outline: none;
	border-radius: 4px;
	&:hover {
		color: $color_2;
		background-color: $background-color_4;
	}
}

/*WHATSAPP*/
.botonWhatsApp {
    img {
        width: 70px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

.zoom {
	transition: transform .2s;
    border-radius: 8px;
	&:hover {
		transform: scale(1.5);
	}
}

.cardHover:hover {
    filter: saturate(180%);
}

