$text_color_1: black;
$background-color_1:#a1a7ad;
$background-color_2:#EFF0EB;
$color_1: white;
$color_2: #001F3F;
$font-family_1: 'Montserrat', sans-serif;
$background-color_3: #4176a7d8;
$background-color_4: #fff;